
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Parceiro - Cadastro</title>
  </head>
  <body>
    <div th:include="layout :: header"></div>
    <div class="container">
	<h2>Parceiro</h2>
	
	<form th:object="${objparceiro}" method="post" th:action="@{/parceiro/salvar}">
		<div class="row">
			<div class="form-group col-12">
				<label>Razao Social</label>
				<input th:field="*{razaoSocial}" type="text" class="form-control"
				   placeholder="Informe a razao social."
				   th:classappend="${#fields.hasErrors('razaoSocial')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{razaoSocial}"></p></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12">
				<label>Nome Fantasia</label>
				<input th:field="*{nomeFantasia}" type="text" class="form-control"
					placeholder="Informe o nome fantasia"
					th:classappend="${#fields.hasErrors('nomeFantasia')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{nomeFantasia}"></p></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-12">
				<label>Cnpj</label>
				<input th:field="*{cnpj}" type="text" class="form-control"
					placeholder="Informe o cnpj"
					th:classappend="${#fields.hasErrors('cnpj')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{cnpj}"></p></span>
				</div>
			</div>
		</div>

		<input type="hidden" th:field="*{id}"/>
		
		<div class="row">
			<div class="form-group col-12">
				<input type="submit" class="btn btn-info"
				value="Salvar"/>
			</div>
		</div>
	</form>
	
	
	
	 <div th:include="layout :: footer"></div>
	 </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>