
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<th:block th:include="layout :: head"/>
	<title>Parceiros</title>
</head>
<body>
<div th:include="layout :: header"></div>
<div class="container">
	<h2>Parceiros</h2>

	<a class="btn btn-success btn-lg m-3" role="button" aria-disabled="true" href="/parceiro/new">Novo</a>


	<table class="table">
		<thead>
		<th>Código</th>
		<th>Razão Social</th>
		<th>Nome Fantasia</th>
		<th>CNPJ</th>
		<th th:if="${user?.ehAdm == true}">Ativo</th>
		<th>Data Criacao</th>
		<th>Data Alteracao</th>
		<th></th>
		<th></th>
		</thead>
		<tbody>
		<tr th:each="p : ${lista}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.razaoSocial}"></td>
			<td th:text="${p.nomeFantasia}"></td>
			<td th:text="${p.cnpj}"></td>
			<td th:if="${user?.ehAdm == true}" th:text="${p.ativo}"></td>
			<td th:text="${#temporals.format(p.dataCriacao, 'dd/MM/yyyy')}" ></td>
			<td th:text="${#temporals.format(p.dataAlteracao, 'dd/MM/yyyy')}" ></td>
			<td><a th:href="@{/parceiro/prealterar(id=${p.id})}">Alterar</a></td>
			<td><a th:href="@{/parceiro/excluir(id=${p.id})}">Excluir</a></td>
		</tr>
		</tbody>
	</table>
	<div th:include="layout :: footer"></div>
</div>


<div th:include="layout :: scripts"></div>
</body>
</html>