
<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<th:block th:include="layout :: head"/>
    <title>Categoria - Cadastro</title>
  </head>
  <body>
    <div th:include="layout :: header"></div>
    <div class="container">
	<h2>Categoria</h2>
	
	<form th:object="${objcategoria}" method="post" th:action="@{/categoria/salvar}">
		<div class="row my-3">
			<div class="form-group col-12">
				<label>Nome</label>
				<input th:field="*{nome}" type="text" class="form-control"
				   placeholder="Informe o nome"
				   th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{nome}"></p></span>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="form-group col-12">
				<label>Descrição</label>
				<input th:field="*{descricao}" type="text" class="form-control"
					placeholder="Informe a descrição"
					th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{nome}"></p></span>
				</div>
			</div>
		</div>

		<input type="hidden" th:field="*{id}"/>
		
		<div class="row my-3">
			<div class="form-group col-12">
				<input type="submit" class="btn btn-success"
				value="Salvar"/>
			</div>
		</div>
	</form>
	
	
	
	<div th:include="layout :: footer"></div>
	</div>

	<div th:include="layout :: scripts"></div>
  </body>
</html>