
<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<th:block th:include="layout :: head"/>
    <title>Produto - Cadastro</title>
  </head>
  <body>
    <div th:include="layout :: header"></div>
    <div class="container">
	<h2>Produto</h2>
	
	<form th:object="${objproduto}" method="post" th:action="@{/produto/salvar}" enctype="multipart/form-data">
		<div class="row my-2">
			<div class="form-group col-12">
				<label>Nome</label>
				<input th:field="*{nome}" type="text" class="form-control"
				   placeholder="Informe o nome."
				   th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{nome}"></p></span>
				</div>
			</div>
		</div>
		<div class="row my-2">
			<div class="form-group col-12">
				<label>Descrição</label>
				<textarea th:field="*{descricao}" maxlength="150" class="form-control"
					placeholder="Informe a descrição."
					th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{descricao}"></p></span>
				</div>
			</div>
		</div>
		<div class="row my-2">
			<div class="form-group col-3">
				<label>Quantidade</label>
				<input th:field="*{qtde}" type="number" class="form-control"
					placeholder="Informe a quantidade."
					th:classappend="${#fields.hasErrors('qtde')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{qtde}"></p></span>
				</div>
			</div>
			<div class="form-group col-4">
				<label>Valor</label>
				<input th:field="*{valor}" type="text" class="form-control money"
					placeholder="R$ 00,00"
					th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
				/>
				<div class="invalid-feedback">
					<span><p th:errors="*{valor}"></p></span>
				</div>
			</div>
			<div class="form-group col-5">
				<label>Categoria</label>
				<select class="form-select"
						name="categoria.id"
						th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
					<option value="0">Selecione a Categoria</option>
					<option th:each="e : ${listaCategoria}"
							th:value="${e.id}" th:text="${e.nome}"
							th:selected="(${e.id}==*{categoria?.id})"></option>
				</select>
				<div class="invalid-feedback">
					<span><p th:errors="*{categoria}"></p></span>
				</div>
			</div>
		</div>
		<div class="row my-2">
			<span id="imgpreview" style="max-height: 8rem">
				<span th:each="i : *{listaImagem}">
					<img th:src="@{'/imagem/'+ ${i.id}}" class="img-thumbnail rounded col-2 h-100 me-3">
				</span>
			</span>
			<span>
				<label for="image" class="btn btn-outline-success col-3 d-flex d-inline align-items-center">
					<i class="bi bi-plus-square fs-4 me-2"></i>
					<p class="text-center p-0 m-0">Adicionar imagem do produto</p>
				</label>
				<input type="file" id="image" name="image" class="d-none" multiple="multiple" accept=".png, .jpg, .jpeg" onchange="previewFile()"/>
			</span>
		</div>

		<input type="hidden" th:field="*{id}"/>
		<input type="hidden" th:field="*{empresa.id}" th:value="${session?.usuario?.empresa?.id}"/>

			<div class="row my-2">
			<div class="form-group col-12">
				<input type="submit" class="btn btn-success"
				value="Salvar"/>
			</div>
		</div>
	</form>

	 <div th:include="layout :: footer"></div>
	 </div>

	<script th:src="@{/js/produto/main.js}"></script>
	<script th:src="@{/js/utils/money.js}"></script>
	<div th:include="layout :: scripts"></div>
  </body>
</html>