<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="layout :: head"/>
    <title>Business Show</title>
</head>
</head>
<body>

    <div th:include="layout :: header"></div>
    <h1 class="m-4">Business Show - Home</h1>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="card me-4 mb-4 col-sm-10  col-md-5 col-lg-2 p-2" th:each="p : ${listaProduto}">
                <img th:if="${p?.getListaImagem()?.size() > 0}" th:src="@{'/imagem/'+ ${p?.getListaImagem()?.get(0)?.getId()}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.nome}"></h5>
                    <p class="card-text" th:text="${p.getDescricaoLonga()}"></p>
                    <a th:href="@{'/produto/detalhes?id='+ ${p?.getId()}}" class="btn btn-primary">visualizar</a>
                </div>
            </div>
        </div>
    </div>

    <div th:include="layout :: footer"></div>
    <div th:include="layout :: scripts"></div>
</body>
</html>